body{
    background:url(/main.jpg)no-repeat;
    background-size: cover;
    height: 50%;
    font-family: 'Otomanopee One', sans-serif;
}

.heading{
    font-size: 2em;
    display: block;
    color: #1d2115;
    width: 40%;
    margin: auto;
    text-align: center;
}

 .input{
     display: block;
     width: 100%;
     margin: auto;
     margin-top: 20px;
     text-align: center;
 }
 input{
     display: block;
     width: 45%;
     margin: 9px  auto;
     text-align: center;
     font-size: 40px;
     border: 2px solid #869989;;
     border-radius: 8px;
 }
.cont{
    display: block;
    width: 98%;
    color: #020101;;
    margin: auto;
    text-align: center;
   font-size: 50px;
}

#visi{
    display: none;
}

#contiainer{
    display: block;
    width: max-content;
    margin: auto;
}

.minicontainer{
    font-weight: bolder;
    display: none;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
}
#container1{
    font-size: 50px;
    display: inline-block;
    color:#1b0a00;
    width: 40%;
    text-align: right;


}
#container2{
    font-size: 50px;
    display: inline-block;
    color: #1b0a00;
    width: 40%;
    text-align: left;

}
.bi{
    color: #1b0a00;
    height: 50px;
    width: 90px;
    
}
#visi{
    display: inline-block;
}
#mess{

    color:#1d2115;
    display: none;
    font-size: 50px;
    width: 40%;
    text-align: center;
    margin: auto;
   
}
/* .messi{
    display: block;
    
} */
#score{
    display: block;
    color: #1d2115;
    width: 33%;
    margin: auto;
    text-align: center;
    font-size: 125px;
}


.same{
    display: block;
    width: 75%;
    color: #1d2115;
    margin: auto;
    font-size: 40px;
    
   text-align: center;
   
}

#btn{
    background-color: transparent;
    color: #1d2115;
    border: 2px solid #869989;
    width: 20%;
    height: 40px;
    border-radius: 15px;
    justify-content: center;
}

#btn:hover{
    color: #757575;
    border-color:#1d2115 ;
    width: 30%;
    
    transition: .3s;
}




.btn1{
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
}
button{
    font-size: 25px;
    font-weight: bold;
    width: 120px;
    height: 30px;
}





















@media(min-width:768px) and (max-width:991px)
{
    button{
        width: 100px;
        height: 28px;
    }
    .same{
        font-size: 35px;
       
       
    }
    .minicontainer{
        margin-bottom: 30px;
    }
    #score{
        
        width: 33%;
        margin: auto;
        text-align: center;
        font-size: 100px;
    }
    .bi{
        height: 40px;
        width: 80px;
        
    }
    #container1{
        font-size: 45px;
        display: inline-block;
      
    
    /* height: 20px; */
    }
    #container2{
        font-size: 45px;
        display: inline-block;
    
    /* height: 20px; */
    }
    .cont{
        font-size: 30px;
    }
    .heading{
        font-size: 1.75em;
        width: 95%;
    }

    .input{
        display: block;
        width: 98%;
        margin:7px auto;
    }
    input{
        font-size: 30px;
        width: 80%;
        height: 35px;
        margin-bottom: 7px;

    }

#btn{
    width: 33%;
    height: 35px;
    font-size: 22px;
    padding: 2px;
}
#btn:hover{
    color: #757575;
    border-color: #1d2115;
    width: 50%;
    transition: .3s;
}

}
@media(min-width:415px) and (max-width:767px)
{button{
    width: 80px;
    height: 25px;
}
    .same{
        font-size: 30px;
       
       
    }
    .minicontainer{
        margin-bottom: 20px;
    }
    #score{
       
        width: 33%;
       
        font-size: 75px;
    }
    .bi{
        height: 30px;
        width: 50px;
        
    }
    #container1{
        font-size: 35px;
        display: inline-block;
      
    
    /* height: 20px; */
    }
    #container2{
        font-size: 35px;
        display: inline-block;
    
    /* height: 20px; */
    }
    .cont{
        font-size: 25px;
    }
    .heading{
        font-size: 1.5em;
        width: 95%;
    }

    .input{
        display: block;
        width: 98%;

        margin: 5px auto;
    }
    input{
        font-size: 20px;
        width: 80%;
        height: 33px;
        margin-bottom: 5px;

    }
    #btn{
        width: 33%;
        height: 33px;
        font-size: 20px;
        padding: 2px;
    }
    #btn:hover{
        color: #757575;
        border-color: #1d2115;
        width: 50%;
        transition: .3s;
    }
}

@media(max-width:414px)
{
    button{
        width: 70px;
        height: 25px;
    }
    .same{
        font-size: 25px;
       
       
    }
    .minicontainer{
        margin-bottom: 10px;
     
    }
    #score{
       
        width: 33%;
       
        font-size: 50px;
    }
    .bi{
        height: 20px;
        width: 30px;
        
    }
    #container1{
        font-size: 30px;
        display: inline-block;
        
    
    }
    #container2{
        font-size: 30px;
        display: inline-block;
        
  
    }
    .cont{
        font-size: 20px;
    }
    .heading{
        font-size: 1em;
        width: 95%;
    }

    .input{
        display: block;
        width: 98%;
        margin: auto;
    }
    input{
        font-size: 15px;
        width: 80%;
        height: 30px;
        margin-bottom: 3px;
    }
    #btn{
        width: 33%;
        height: 30px;
        font-size: 15px;
        padding: 5px;
    }
    #btn:hover{
        color: #757575;
        border-color: #1d2115;
        width: 80%;
        transition: .3s;
    }
}